.open-sans-font {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.header {
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

.text-primary {
    color: #FD6E0A;
}

.sec-title {
    font-size: 35px;
    font-weight: bold;
    color: black;
}

.sec-des {
    font-size: 18px;
    color: #757575;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}

.sec-bg {
    background-color: #FFF8F3;
}

.dark2 {
    color: #474747;
}

.title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 51px;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
}

.btn-pri {
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}

.ban-ti {
    font-size: 45px;
    font-weight: 600px;
}

.ban-name {
    font-weight: bold;
    font-size: 85px;
}

.banner {
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 200px;
}

.ban-con {
    max-width: 580px;
}

.about {
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

main {
    max-width: 1140px;
    margin: 0px auto;
}

.item-des {
    font-weight: 600px;
    margin: 0px;
    font-weight: bold;
    font-size: 20px;
}

.about-items {
    display: flex;
    justify-content: space-around;
}

.text-center {
    text-align: center;
}

.skills-con {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

main section {
    margin-top: 130px;
    margin-bottom: 130px;
}

.res-con {
    display: flex;
    gap: 24px;
}

.exp-sub-ti {
    font-size: 20px;
    font-weight: 600px;
    margin-bottom: 20px;
}

.exp-des,
.exp-sub-ti {
    color: #757575;
}

footer {
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}

.footer-col {
    width: 50%;
}

footer input[type="text"],
footer input[type="email"],
footer textarea {
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}