.open-sans-font {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.header {
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

.text-primary {
    color: #FD6E0A;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}

.dark2 {
    color: #474747;
}

.title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 51px;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
}

.btn-pri {
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}

.ban-ti {
    font-size: 45px;
    font-weight: 600px;
}

.ban-name {
    font-weight: bold;
    font-size: 85px;
}

.banner {
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 200px;
}

.ban-con {
    max-width: 580px;
}